:root {
    --nero-profondo: #121212;
    --grigio-antracite: #1E1E1E;
    --oro-elegante: #C9A856;
    --verde-tropicale: #2E8B57;
    --bianco-crema: #F5F5DC;
    --grigio-perla: #B0B0B0;
}

/* Stile generale per gli elementi food */
.food-item {
    width: 100%;
    max-width: 300px;
    height: 300px; /* Altezza fissa e compatta */
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: var(--grigio-antracite);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Contenitore immagine */
.food-item-img-container {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

/* Immagine dell'elemento */
.food-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

/* Informazioni generali (nome, descrizione, prezzo) */
.food-item-info {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Impedisce di sprecare spazio */
}

/* Nome del cibo */
.food-item-name {
    font-size: 22px;
    font-weight: 600;
    color: var(--bianco-crema);
    margin: 0; /* Rimuove margine e aumenta la compattezza */
    padding-bottom: 3px; /* Distanza ridotta dal successivo componente */
}

/* Descrizione del cibo */
.food-item-desc {
    color: var(--grigio-perla);
    font-size: 14px;
    margin: 0; /* Rimuove margine per ridurre lo spazio */
    padding-bottom: 5px; /* Piccola distanza tra descrizione e prezzo */
}

/* Prezzo */
.food-item-price {
    font-size: 20px;
    font-weight: 600;
    color: var(--oro-elegante);
    margin: 0; /* Rimuove margine per compattezza */
}
